* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body { 
    padding: 24px;
    font-family: sans-serif;
    background-color: black;
}

.container {
    display:flex;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;

    
    margin: 0 auto;
    max-width: 960px;
    height: fit-content;
    padding: 24px;
    background-color: rgb(63, 63, 63);
}

.item {
    text-align: center;
    width: 100px;
    height: 100px;
    border: 2px solid blueviolet;
    background-color: cadetblue;
}