/* 
 Contexto de apilamiento (stacking context)

 Es un aspecto de los elementos que se van apilando para que uno se coloque delante de otro.

 En un contexto inicial el navegador determina que elemento se coloca sobre otro de acuerdo a como se escriben en el html.

 Para el contexto de apilamento, se usará la siguiente jerarquía.

 1. Eleentos posicionados con z-index igual o mayor a 1.
 2. Elementos posicionados sin un z-index o con un z-index: auto.
 3. Elementos NO posicionados.
 4. Elementosposicionados con un z-index igual o menor a -1.

 propiedad z-index

 Nos permíte ordeanr los elementos superpuestos y controlar el contexto de apilamiento. Para usar x-index el elemento debe estar posicionado, es decir con la propiedad position declarada y con un valor distinto a static.


 RECOMENDACIONES:

    No usar números consecutivos: 1,2,3,4,etc.

    Se recomienda utilizar decenas o centenas: 100,200,300...  10,20,30...

    No usar números en miles: 1000, 2000, 3000,etc.




*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body {
    font-family: sans-serif;
    background-color: black;
    color: antiquewhite;
}


.box{
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 24px;
    border: 1px crimson;
    border-radius: 24px;
}

.box-1 { 
    background-color: cadetblue;
    top: 25px;
    z-index: 1;
    position: relative;
}

.box-2 { 
    background-color: rgb(146, 95, 160);
    position: relative;
    z-index: auto;

}



.box-3 { 
    margin-top:-25px ;
    background-color: rgb(95, 160, 97);
    
}


.box-4 { 

    position: relative;
    top: -25px;
    z-index: -1;
    background-color: rgb(160, 116, 95);
}