*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(159, 159, 159);
    color: aliceblue;
}

/* Estilos del header */

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(188, 61, 93);
}


.header-title{
    color: rgb(0, 0, 0)

}

.header-text{
    color: rgb(0, 0, 0)

}

/* estilos del main */

.main{
    padding: 2rem;
}

.cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-basis: 30%;
    padding: 1rem;
    border-radius: 1.2rem;
    background-color: black;
}

.card-image{
    width: 100%;
    max-width: 120px;
    border-radius: 50%;
    background-color: rgb(188, 61, 93);
}


.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: .8rem;

}

.card-title{
font-size: 1.25rem;
color: rgb(221, 163, 174);
}

.card-type{
    font-size: .75rem;
    font-style: italic;
    color: rgb(211, 159, 91);
}

.card-description{
    font-size: 1.1rem;
    line-height: 1.55rem;
    color:aliceblue ;

}

.card-powers{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.card-powers-item{
    padding: .3rem .6rem;
    font-size: .8rem;
    border-radius: .6rem;
    background-color: rgb(188, 61, 93);
}







/* estilos footer */

.footer{
    display: flex;
    justify-content: center;
    padding: .5rem;
    color: rgb(0, 0, 0);
    background-color: rgb(188, 61, 93);
}

.footer-name {
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
}

