* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    padding: 16px;
    background-color: black;
    color: antiquewhite;
}


.container {
    display: flex;
    /* height: 1000px; */
    flex-direction: row;

    justify-content: flex-start; /* default */
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;


    background-color: cadetblue;
    padding: 16px;
}

.item {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size:26px;
    border: 1px solid pink;
    background-color: rgb(91, 91, 91);
}




/* 
ORDEN SUGERIDO DE PROPIEDADES
1. Layout (display ...)
2. Tamaños (Width y heigth)
3. Espacios (Padding, margin... )
4. Tipográficos (Font-family ...)
5. Color (color y background-color)
6. Estilo (border, box-shadow, outline)
7. Otras (Transform, Animation ...)
*/