* {
        margin: 0;
        padding: 0;
        box-sizing: 0;
}

body{
    background-color: rgb(217, 217, 217);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}

.profile-card {
    width: 300px;
    margin: 0 auto;
    background-color: #1a1a1a;
    color: aliceblue;
    box-shadow: 0 24px 24px#00000014;
    border-radius: 12px;
    padding:24px;
}


.profile-photo{
    max-width: 120px;
    border-radius: 50%;
    border: 4px solid #c060a9;
    margin-bottom: 16px;
}

.profile-details h2 {
    font-weight: 600;
    font-size: 1.5rem;
    
}


.profile-details p {
    font-weight: 400;
    font-size: .875rem;
    
}