* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    padding: 16px;
    background-color: black;
    color: antiquewhite;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;/* default */
    align-items: flex-end;
    align-items: center;
    align-items: stretch; /* default */


    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    background-color: cadetblue;
    padding: 16px;
}

.item{
    /* width: 100px;
    height: 100px; */
    text-align: center;
    font-size:3rem;
    border: 2px solid pink;
    background-color: rgb(91, 91, 91);
}

.item-1{ 
    height: 300px;
    font-size: 2rem;
}

.item-2{
    height: 500px;
    padding-top: 80px;

}

.item-3{
    height: 200px;
    font-size: .8rem;
}

.item-4{
    height: 600px;
    padding-top: 140px;
    font-size: 5rem;
}