
body {
    background-color: black;
}

h1 { 
    color: aliceblue;
    font-family: sans-serif;
    font-size: 64px;
    font-weight: 900;
}

p { 
    color: rgb(169, 105, 9);
    color: #edd8ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 900; /* bold */
    font-weight: 400; /* normal */
    font-weight: 100; /* light */
}

a { 
    color: cornflowerblue;
    font-family: cursive;
    font-size: 72px;
    font-style: normal; /* Es el valor por default, no necesita ser declarado */
 }

 /* El hexadecimal se divide en grupo de dos caracteres
    
    #00 00 00
     R  G  B

    Los valores van del 0 al 9 y de A a F - 16 caracteres. El valor 0 representa el color más oscuro y la F el más luminoso

    Cuando los tres pares tienen el mismo valor se pueden abreviar.

    # FF FF FF  > #FFF

    */


/* Propiedades de texto
    Estas propiedades están relacionadas con el estilo o formato de los textos en HTML.

    Con ellos controlamos su apariencia, espaciado, alineación y decoración.

    Propiedades principales:
        color: Esto define el color de texto y puede recibir diferentes valores: Keywords, hexadecimales, rgb, rgba, hsl, hsla, transparent. La "a" en el sistema rgba significa "alpha chanel" o "canal alpha".
        
        font-family: Esto define la familia tipográfic adel texto, recibiendo los valores como: Keywords, nombre de la familia, si tiene más de dos palabras se colocan entre comillas. Si tenemos fuentes de respaldo se separan por comas.

        font-size: Define el tamaño del texto. Acepta valores en px, em, rem, porcentaje y funciones.

        font-style: Definene el estilo de fuente y recibe tres parámetros: Normal, italic y oblique.

        font-weigth: Define el peso tipográfico si la familia tipográfica lo permite.

*/


/* 
 Propiedades de alineación

 text-aling: Define la alineación del texto, recibe los valores left, right, center, justify, start y end.

*/


h1{
    text-align: end; /* También hay start */
    text-align: justify; /* Necesita ser un párrafo y tener espacio para distribuir */
    text-align: center; /* El valor por default es left */
}

p { 
    text-align: justify;

}

a {
    text-align: right; /* No funciona (no se nota) */
}



/* 
Propiedades de estilo

Text-decoration: Añade una línea transversal al texto, recibe valores: none, overline, line through.

text-transform: Controla la capitalización del texto, recibe valores: uppercas, lowercase y capitalize.

Line-height: Espacio entre las líneas del texto, recibe valores en px, %, em, rem.

word-spaccing: Espacio entre palabras. Recibe valores em, rem y %.

Text-shadow: Sombra del texto, La síntaxis es en el siguiente orden. Offset-x offset-y y blur color.


*/

.important 
{
    text-decoration: underline;
    color: aquamarine;
}

h1{/* Son muchas luciernagas */
    text-transform: uppercase; /* Son muchas luciernagas */
    letter-spacing: 20px; /* números negativos junta la sletras, positivos las separa */
    text-shadow: -10px 1px 0px rgb(202, 94, 0);   /* X, Y, BLUR, COLOR */
}

p {
    line-height: 18px;

}